
.note {

  &.major > .head {
    font-size: 150%;
    height: 30px;
    font-weight: bold;

    .bullet {
      font-family: serif;
      font-size: 25px;
      line-height: 10px;
    }
  }

  margin-left: 5px;
  > .head .bullet {
    content: "\2219";
    font-size: 18px;
    line-height: 5px;
    display: inline-block;
    margin-right: 5px;
  }
  > .head {
    position: relative;

    .title {
      display: block;
      margin-top: -17px;
      margin-left: 17px;
    }

    .title, input {
      border: none;
      background-color: transparent;
      font-size: inherit;
      border-bottom: 1px solid transparent;

      &:focus {
        outline: none;
        border-bottom: 1px dashed #aaa;
      }
    }
  
    .tags {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  > .body {
    padding-left: 10px;
  }
}

