.note
  .head
    input.title(data-ng-model='note.title')
    .tags(data-tags='note.tags')
  .body
    .child(data-ng-repeat='child in note.children', data-note='child')
      input.title(data-ng-model='child.title')
    
